body
  padding: 50px
  height: 100vh

a
  color: #00B7FF

.btn-rounded
  border-radius: 1rem

.disable-select
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
